// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.A {
  margin-left: 25px;
  
}
.B {
  margin-right: 50px;
  
}

.X {
  display: flex;
}